.list {
    margin-top: 155px;
    background: url("../../asserts/img/backleft.png"), url("../../asserts/img/backright.png"), url("../../asserts/img/backright.png");
    background-repeat: no-repeat;
    background-position-y: 50%, -2%, 98%;
    background-position-x: -20px, 97%, 97%;

    ul {
        margin-left: 105px;

    }

    li {
        display: flex;
        align-items: center;
        gap: 130px;
        margin-bottom: 80px;
    }

    &-title {

        h2 {
            width: 445px;
            color: #495567;
            font-family: Space Mono;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -2.143px;

        }

        p {
            margin-top: 24px;
            width: 445px;
            color: #939CAA;
            font-family: Lexend Deca;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
        }

        button {
            margin-top: 40px;
            width: 180px;
            height: 53px;
            color: #FFF;
            background-color: #FCB72B;
            border: transparent;
            border: 3px solid #FCB72B;
            text-align: center;
            font-family: Space Mono;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;

        }

        button:active {
            border: 3px solid #FCB72B;
            color: #FCB72B;
            background-color: transparent;

        }

    }

    img {
        border-radius: 50%;

    }



}